<!doctype html>
<html>
	<head>
		<title>fcc-voter.herokuapp.com</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include ../snippets/css/sharedCSS %>
		<% include ../snippets/analytics %>

		<link rel="stylesheet" href="/css/poll.css">
	</head>

	<% var nojs = "" %>
	<% if (found) { %>
		<% var nojs = "nojs" %>
	<% } %>
	<body ng-app="poll" class="<%= nojs %>">

		<div class=" ui middle aligned center aligned grid" ng-controller=" pollPage-controller">
			<% if(found) { %>
				<div class="row">
					<div class="column">
						<h1 class="ui header">
							<i class="list icon"></i>Poll Page
						</h1>
						<h5 class="ui header" id="copyTarget">http://fcc-voter.herokuapp.com/poll/<%= ID %></h5>
					</div>
				</div>
				<div class="row">
					<div class="column ui rail">
						<div class="ui sticky">
							<div class="ui top attached buttons">
								<a href="http://www.facebook.com/sharer.php?u=http://fcc-voter.herokuapp.com/poll/<%= ID %>" class="ui vertical animated black button icon" target="_blank" style="border-top-left-radius: 0 !important;">
									<div class="visible content">
										<i class="large facebook icon"></i>
									</div>
									<div class="hidden content">
										Facebook
									</div>
								</a>
								<span id="copyButton" class="ui black button icon" data-tooltip="Add poll link to your clipboard" data-position="bottom center">
									<i class="large share alternate icon"></i>
								</span>
								<a href='http://twitter.com/share?text="<%= poll.title %>": Vote at&url=http://fcc-voter.herokuapp.com/poll/<%= ID %>' class="ui vertical animated black button icon" target="_blank" style="border-top-right-radius: 0 !important;">
									<div class="visible content">
										<i class="large twitter icon"></i>
									</div>
									<div class="hidden content">
										Twitter
									</div>
								</a>
							</div>
						</div>
						<div id="context">
							<div class="ui stacked attached segment">
								<h1 class="ui header"><%= poll.title %></h1>

								<table class="ui sortable unstackable table">
									<thead>
										<tr>
											<th class="no-sort">Option</th>
											<th class="sorted descending">Votes</th>
											<th class="no-sort"></th>
										</tr>
									</thead>
									<tbody id="optionsTable">
										<% var options = poll.options %>
										<% for(i = 0; i < options.length; i++) { %>
											<tr>
												<td>
													<%= options[i].text %>
												</td>
												<td>
													<%= options[i].votes %>
												</td>
												<td class="collapsing">
													<button class="ui disabled positive icon button" title="Vote for Option" ng-click="vote('<%= options[i].id %>')">
														<i class="check icon"></i>
													</button>
												</td>
											</tr>
										<% } %>
									</tbody>
								</table>

								<a class="ui primary button" title="Go to results page" href="/poll/results/<%= ID %>">Results Page</a>

								<span>
									<div class="ui icon message" ng-show="loading">
										<i class="notched circle loading icon"></i>
										<div class="content">
											<div class="header">
												Just one second
											</div>
											<p>{{loadingMessage}}</p>
										</div>
									</div>
									<div class="ui error message" ng-show="message">
										{{message}}
									</div>
									<div class="ui success message" ng-show="success">
										{{success}}
									</div>
								</span>
								<div class="ui divider"></div>
								<% if(authenticated) { %>
									<button class="ui secondary button" title="Add Poll Option" ng-click="addOption()">
										<i class="plus icon"></i>Add Option</button>
									<div class="ui divider"></div>

									<form class="ui large form" ng-show="addingOption">
										<div class="field" ng-repeat="option in options">
											<div class="ui left icon input">
												<i class="question icon"></i>
												<input name="addedOption" type="text" placeholder="Input the new option {{option.id +1}}" ng-model="option.text" class="ui basic label"/>
											</div>
										</div>
										<button id="sendButton" class="ui secondary button" ng-click="sendAddedOptions()">Send</button>
									</form>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			<% } else { %>
				<div class="row">
					<div class="column">
						<h1 class="ui header">
							<i class="list icon"></i>Poll Page
						</h1>
						<h5 class="ui header">http://fcc-voter.herokuapp.com/poll/<%= ID %></h5>
					</div>
				</div>
				<div class="row">
					<div class="column">
						<div class="ui stacked segment">
							<p>Poll
								<%= ID %>
								was not found in our database.</p>
							img class="ui centered image" src="/img/deadend.jpg"/>
						</div>
					</div>
				</div>
			<% } %>
		</div>

		<% if(found) { %>
			<% include ../snippets/js/sharedJS %>
			<% include ../snippets/js/pollpage %>
		<% } %>
	</body>
</html>

</html>
