<!doctype html>
<html>
	<head>
		<title>Votação.com</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include ../snippets/sharedCSS %>
		<% include ../snippets/analytics %>
		<link rel="stylesheet" href="/css/poll.css">
	</head>
	<body ng-app="poll">
		<div class="ui middle aligned center aligned grid" ng-controller="pollPage-controller">
			<% if(found) { %>
				<div class="row">
					<div class="column">
						<h1 class="ui header">
							<i class="list icon"></i>Poll Page
						</h1>
						<h5 class="ui header">http://www.votação.com/poll/<%= ID %></h5>
					</div>
				</div>
				<div class="row">
					<div class="column">
						<div class="ui stacked segment">
							<table class="ui sortable unstackable table">
								<thead>
									<tr>
										<th class="no-sort">Option</th>
										<th class="sorted descending">Votes</th>
										<th class="no-sort"></th>
									</tr>
								</thead>
								<tbody id="optionsTable">
									<% var options = poll.options %>
									<% for(i = 0; i < options.length; i++) { %>
										<tr>
											<td>
												<%= options[i].text %>
											</td>
											<td>
												<%= options[i].votes %>
											</td>
											<td class="collapsing">
												<button class="ui disabled positive icon button" title="Vote for Option" ng-click="vote('<%= options[i].id %>')">
													<i class="check icon"></i>
												</button>
											</td>
										</tr>
									<% } %>
								</tbody>
							</table>

							<% if(authenticated) { %>
								<button class="ui secondary button" title="Add Poll Option" ng-click="addOption()">
									<i class="plus icon"></i>Add Option</button>
								<div class="ui divider"></div>

								<form class="ui large form" ng-show="addingOption">
									<div class="field" ng-repeat="option in options">
										<div class="ui left icon input">
											<i class="question icon"></i>
											<input name="addedOption" type="text" placeholder="Input the new option {{option.id +1}}" ng-model="option.text" class="ui basic label"/>
										</div>
									</div>
									<button class="ui secondary button" ng-click="sendAddedOptions()">Send</button>
								</form>
							<% } %>
						</div>
					</div>
				</div>
			<% } else { %>
				<div class="row">
					<div class="column">
						<h1 class="ui header">
							<i class="list icon"></i>Poll Page
						</h1>
						<h5 class="ui header">http://www.votação.com/poll/<%= ID %></h5>
					</div>
				</div>
				<div class="row">
					<div class="column">
						<div class="ui stacked segment">Poll
							<%= ID %>
							was not found in our database.</div>
					</div>
				</div>
			<% } %>
		</div>

		<% if(found) { %>
			<% include ../snippets/sharedJS %>
			<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js'></script>
			<% include ../snippets/pollPage-controller %>
			<script src="/js/tablesort.js"></script>
			<script>
				$('table').tablesort()
			</script>
		<% } %>
	</body>
</html>
